<ul class="nav">

      <a href="../zen/zen_home" class="nav-item <%= page === "ZEN" ? "nav-item-selected" : "" %>">
        <li>
          <img class="nav-img" src="../imgs/ying-yang.png" alt="ying yang"><br>
          <label>ZEN</label>
        </li>
      </a>

      <a href="../custom/custom_home" class="nav-item <%= page === "CUSTOM" ? "nav-item-selected" : "" %>">
        <li>
          <img class="nav-img" src="../imgs/custom.png" alt="custom"><br>
          <label>CUSTOM</label>
        </li>
      </a>

      <a href="/" class="nav-item <%= page === "HOME" ? "nav-item-selected" : "" %> ">
        <li>
            <img class="nav-img" src="../imgs/house.png" alt="home"><br>
            <label>HOME</label>
        </li>
      </a>

      <a href="../levels/level_home" class="nav-item <%= page === "LEVELS" ? "nav-item-selected" : "" %>">
        <li>
          <img class="nav-img" src="../imgs/levels.png" alt="level1-5"><br>
          <label>LEVELS</label>
        </li>
      </a>

      <a href="../challenges/challenge_home" class="nav-item <%= page === "challenge" ? "nav-item-selected" : "" %>">
        <li>
          <img class="nav-img" src="../imgs/muscle-arm.png" alt="muscular arm"><br>
          <label>CHALLENGES</label>
        </li>
      </a>

    </ul>
