<!DOCTYPE HTML>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1">
  <title>Custom level</title>
  <link rel="stylesheet" href="../css/custom/custom_play.css">
  <link rel="stylesheet" href="../css/pause.css">
  <link rel="stylesheet" href="../css/playing_panel.css">
  <script src="../js/jquery.js"></script>
  <script defer src="../js/audio.js"></script>
  <script defer src="../js/pause.js"></script>
  <script defer src="../js/custom/custom.js"> </script>

</head>

<body>

  <div class="vars" style="display: none; position: absolute;">
    <p id="seconds"><%= seconds %> </p>
    <p id="strikes"><%= strikes %></p>
    <p id="max"><%= max %></p>
    <p id="mode"><%= mode %> </p>
  </div>

  <%- include("../partials/pause.ejs"); %> 
  <%- include("../partials/playing_panel.ejs"); %>

  <audio src="wellDone.ogg" id="audio"></audio>
</body>

</html>

